body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #000;
  color: #eee;
}
h1 {
  font-size: 7rem;
  font-family: "Rubik 80s Fade";
  color: #fff;
  margin-top: 2.4rem;
  font-weight: 400;
}
#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    background-color: #f2f2f2;
    border: 2px solid #333;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
  color: black;
    font-size: 48px;
    font-weight: bold;
    border: 1px solid #333;
}

.cell:nth-of-type(3n) {
    border-right: none;
}

.cell:nth-of-type(n + 4) {
    border-top: none;
}

.cell:nth-of-type(n + 7) {
    border-top: none;
    border-right: none;
}

#reset {
    margin-top: 20px;
    text-align: center;
}

#reset-button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#reset-button:hover {
    background-color: #555;
}

#winner {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
